.users {
    margin-top: 40px;
}

.title {
    font-size: 24px;
}

.pages {
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 990px;
    overflow: scroll;
}

.pages > li:not(:last-child) {
    margin-right: 10px;
}

.pages button {
    cursor: pointer;
    border: 1px solid #F8F9FA;
    background: #1D8BD8;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 7px;
    color: white;
}

.pages button:hover {
    background: white;
    border: 1px solid #1D8BD8;
    color: black;
}

.pages > li.currentPage > button {
    font-weight: 700;
    background: black;
    cursor: default;
}

.pages > li.currentPage > button:hover {
    background: black;
    border: 1px solid #F8F9FA;
    color: white;
}

.pages .pagBtn {
    border: 1px solid grey;
    background: white;
    color: black;
}

.pages .prev {
    margin-right: 10px;
}