.post {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    background: white;
    width: 83.5%;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 6px;
}

.post > img {
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 8px;
    margin-right: 24px;
}

.post > div {
    display: flex;
    flex-wrap: wrap;
}

.post > div > button {
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    display: block;
    background: initial;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.post > div > button > svg {
    width: 20px;
    display: block;
    height: 20px;
}

.post > div > p {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.post div > img {
    width: 20px;
    height: 20px;
}

.post div > span {
    color: gray;
    font-size: 14px;
}