.app-wrapper {
    display: grid;
    /* width: 1200px; */
    margin: 0 auto;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
  'header header'
  'nav content';
    background: #F8F9FA;
}

.app-wrapper-content {
    grid-area: content;
    padding-right: 40px;
}