.dialogs {
    display: grid;
    grid-template-areas: "2fr 10fr";
}

.dialog {
color: red;
}

.dialogsItems {
padding: 10px;
    color: black;
}
.dialogsItems .active{
    color: black;

}

.messages {
padding:10px;
}

.messages .message{
    color: black;
}