.dialogs {
    display: grid;
    grid-template-areas: "2fr 10fr";
}

.dialog {
color: red;
}

.dialogsItems {
padding: 10px;
}
.dialogsItems .active{
    color: gold;
}

.messages {
padding:10px;
}

.message {

}